// TYPOGRAPHIE 


// VARIABLES
$base-font-size             : 62.5% !default;           
$base-line-height           : 0.85 !default;          
//$round-to-nearest-half-line : false !default;      
$word-wrap : break-word;
// Links
$link-color : tint(blue,10%) !default;
$link-color-hover : tint(blue,50%) !default;

// Font Family
$font-family-base : "Helvetica",Arial,sans-serif !default;
$font-family-headings : "Helvetica",Arial,sans-serif !default;




html{
  -webkit-min-device-pixel-ratio:0;
  -webkit-font-smoothing: subpixel-antialiased;
  font-weight : normal;
  font-size : $base-font-size;
  line-height : $base-line-height; 
}
body{
  @include hyphens(auto);
  word-wrap : $word-wrap; 
}

// Default Sizing and spacing
// ------------------------------------------------------------

// You'll often get better results here if you work in numbers the divide into the baseline.
// IE, if you have a baseline of 6px, multiples or divisions of often provide best results in ems 

h1 { 
  @include adjust-font-size-to(36px); 
  margin: rhythm(1, 36px) 0 rhythm(1, 36px) 0; 
} 
      
h2 { 
  @include adjust-font-size-to(30px); 
  margin: rhythm(1, 30px) 0 rhythm(0.5, 30px) 0; 
}

h3 { 
  @include adjust-font-size-to(22px); 
  margin: rhythm(1, 22px) 0 rhythm(0.5, 22px) 0; 
} 

h4 { 
  @include adjust-font-size-to(20px); 
  margin: 0 0 rhythm(1, 20px) 0; 
} 

h5 { 
  @include adjust-font-size-to(18px); 
  margin: 0 0 rhythm(1, 18px) 0; 
} 

h6 { 
  @include adjust-font-size-to(16px); 
  margin: 0 0 rhythm(1, 16px) 0;
}   

p, pre, label { 
  @include adjust-font-size-to(16px); 
  margin: 0 0 rhythm(1, 16px) 0; 
}

ol, ul {
  @include adjust-font-size-to(16px);
  margin: 0 0 rhythm(4, 16px) 0;
}

li {
  line-height: auto;
}

// Core typography
// ------------------------------------------------------------

ul      { @include unordered; }           // Include unordered list from mixins by default
ol      { @include ordered; }             // Include ordered list from mixins by default
strong, b   { font-weight: 600; }
em, i, q  { font-style: italic; }

blockquote {
  padding-left: 16px;
  border-left: 4px solid #ccc;
  line-height: normal;
  margin: 0;
  p {
    font-style: italic;
    margin: 0;
    margin: 10px 0 10px 0;    //  3 lines above / 3 lines below, based on font size
  }
}

// Links
a {
	@include link-colors($link-color, $link-color-hover,$link-color,$link-color, $link-color-hover);
	text-decoration : none;
	border-bottom : 1px solid;
	&:hover{
	  border-bottom : 1px dotted;
	}
}
