// MODULE DE NAVIGATIONS

// VARIABLES
$nav-height : 70px !default;
$nav-font-family : $font-family-headings !default; 
$nav-font-size : em(14px) !default;
$background-nav : #FFF !default;

// HEADER NAVIGATIONS
.nav{
	height : $nav-height;
	background : $background-nav;
	.logo{
    a{
      height : 100%;
      width:100%;
      display:inline-block;
      border-bottom : none;
    }
    img{
      vertical-align : middle;
    }
  }
}

// Proprietes des listes
// list Pattern Navigation 
%nav-list{
    margin:0;
    padding:0;
    width:auto;
    li{
      list-style-type: none ;
      float:left;
      position: relative;
      display: table;
      height : $nav-height;
      a{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        height: 100%;
        padding:0px 10px;
        font-family : $font-family-headings;
        font-size: $nav-font-size;
        border-bottom : none;
        &:hover{
          
        }
        &.active{
          
        }
      }
  }
  &.right{
    float:right;
  }
}


.nav-list--default{
  @extend %nav-list; 
}
.nav-list--right{
  @extend %nav-list;
  float:right; 
}

// Comportements
.nav-fixed{
  position : fixed;
  top:0px;
  left:0px;
  width:100%;  
  z-index:1;
  + *{
    padding-top:$nav-height
  }
}
